services:
  postgres:
    image: postgres:16
    container_name: keycloak-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloakpass
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    networks:
      - zbox_net

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2
    container_name: keycloak
    command: ["start-dev"]
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloakpass
      KC_HTTP_PORT: 8080
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - zbox_net

  admin:
    build: ./admin    # folder where your admin Dockerfile is
    container_name: zbox-admin
    restart: unless-stopped
    env_file:
      - ./admin/.env.example
    ports:
      - "3000:3000"
    volumes:
      - /usr/local/sbin/zbox-allow.sh:/usr/local/sbin/zbox-allow.sh:ro
      - /usr/local/sbin/zbox-quarantine.sh:/usr/local/sbin/zbox-quarantine.sh:ro
      - /etc/wireguard:/etc/wireguard
    privileged: true
    network_mode: host

  prometheus:
    image: prom/prometheus:v2.55.0
    container_name: zbox-prometheus
    restart: unless-stopped
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    network_mode: host

  grafana:
    image: grafana/grafana:11.1.0
    container_name: zbox-grafana
    restart: unless-stopped
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana

  node_exporter:
    image: prom/node-exporter:v1.8.2
    container_name: zbox-node-exporter
    restart: unless-stopped
    # so prometheus on host-mode can hit :9100
    network_mode: host

  wg_exporter:
    image: mindflavor/prometheus-wireguard-exporter:3.5.0
    container_name: zbox-wg-exporter
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
    environment:
      - PROMETHEUS_WIREGUARD_EXPORTER_PREPEND_SUDO_ENABLED=false
      - PROMETHEUS_WIREGUARD_EXPORTER_INTERFACES=wg0
      - EXPORT_LATEST_HANDSHAKE_DELAY=true
    volumes:
      - /etc/wireguard:/etc/wireguard:ro

  math_wiz:
    build: ./mathwiz
    container_name: zbox-math-wiz
    restart: unless-stopped
    ports:
      - "4000:3000"
    networks:
      - zbox_net
      
volumes:
  keycloak_data:
  grafana_data:
  
networks:
  zbox_net:
    driver: bridge