/* globals.css */

@import "tailwindcss";

/* variables + base */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --main-accent: #ff69b4;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);

}
